.choose-container{
    width: 1200px;
    height: 300px;
    border: 1px solid lightgrey;
    display: flex;
   flex-direction: row;
   gap: 20px;
   padding-left: 10px;
}
.element{
    width: 580px;
    height: 284px;
    border: 1px solid lightblue;
}
.choose-container img{
width: 10%;
height: 10%;
}
#element-three{
    text-align: center;
    align-items: center;
}
#element-three img{
    align-items: center;
}



@media screen and (max-width: 576px) {
    .choose-container{
        flex-direction: column;
    }
    
}