.choose-container{
    width: 1200px;
    height: 300px;
    border: 1px solid lightgrey;
    display: grid;
  grid-template-columns: repeat(1,2fr) 1fr;
   gap: 20px;
   padding-left: 10px;
}
.element{
    width: 580px;
    height: 284px;
    border: 1px solid lightblue;
}
.choose-container img{
width: 20%;
height: 20%;
}






@media screen and (max-width: 576px) {
    .choose-container{
        grid-template-columns: repeat(1,1fr);
    }
    
}