h3{
    color: brown;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: rgb(206, 38, 38);
}
.form-log{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    grid: 5px;
}
.form-log input{
    margin-top: 20px;
}
.form-log-container{
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: center;
}